* {
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(126, 184, 184);
}

header {
    padding: 1px;
    background-color: black;
    text-align: center;
    
}
 
.logo img {  
 height: 150px;
}

nav 
{
    display: flex;
    flex-direction: row;
    background-color: tomato;
    
    

}

nav a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
   
   
}

nav a:hover{
    color: white;
    text-decoration: none;
    background-color: black;
}

form {
    display: flex;
    align-self: center;
    color: blanchedalmond;
    margin-left: 30%;
}



.row {
    display: flex;
    flex-wrap: wrap;
}

aside {
    flex: 20%;
    background-color: yellow;
    padding: 20px;
    color: blue;
    text-align: center;
}



section {
    flex: 60%;
    background-color: violet;
    padding: 20px;
    text-align: center;

}


@media screen and (max-width: 700px){

    nav, .row{
  flex-direction: column;
    }
}

.flex-container
{   
	background-color: brown;
    border: solid;
   


}


.fila1, .fila3, .fila5, .fila7{
display: flex;
justify-content: center;
}


.fila2, .fila4, .fila6, .fila8 {
display: flex;
flex-direction: row-reverse;
justify-content: center;
}

 div.black {
	background-color: black;
	color: white;
	padding: 10px 15px 10px 15px;
}

 div.white {
	background-color: white;
	color: black;
	padding: 10px 15px 10px 15px;
}
.button {
    text-decoration: none;
    margin-top: 15px;
    padding: 10px;
    font-weight: 320;
    font-size: 20px;
    color: #ffffff;
    background-color: #507588;
    border-radius: 6px;
    border: 2px solid #0c0c0e;
}

button:hover {
    margin-top: 15px;
        color: orange;
        padding: 20px;
      
}

footer {
    text-align: center;
}
