#tablero {
    display: inline-block;
    border:5px solid;
}
.fila {
    background-color: #000;
    display: table;
}
.recuadro {
    width:50px;
    height:50px;
    float:left;
}
.fila:nth-child(odd) .recuadro:nth-child(even),
.fila:nth-child(even) .recuadro:nth-child(odd) {
    background-color: white;
}