
div.ficha img{
    height: 52px;
    width: 52px;
}
.contenedor-tablero{
    display: flex;
    justify-content: center;
}

#tablero {
    display: inline-block;
    padding: 10px;
    background-color: brown;
    border:5px solid;
    border-color: #351912;   
}
.fila {
    display: table;
    background-color: #fff;    
}
.recuadro {
    width:50px;
    height:50px;
    float:left;
}

.fila:nth-child(odd) .recuadro:nth-child(even),
.fila:nth-child(even) .recuadro:nth-child(odd) {
    background-color: #000;
}